body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#main, #qna, #result {
  padding: 20px;
}

.statusBar {
  width: 100%;
  height: 5px;
  background-color: #4caf50;
  margin-bottom: 20px;
}

.qBox {
  font-size: 24px;
  margin-bottom: 30px;
}

.answerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.answerList {
  width: 80%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answerList:hover {
  background-color: #0056b3;
}

.resultname {
  font-size: 32px;
  font-weight: bold;
}

.resultDesc {
  margin-top: 20px;
  font-size: 18px;
}

/* 이미지 크기를 절대적으로 고정 */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#questionImage, #resultImg img {
  width: 600px; /* 고정 너비 */
  height: 400px; /* 고정 높이 */
  object-fit: cover; /* 비율 유지 및 크기에 맞게 자르기 */
  display: block;
  margin: 30px auto;
}

button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* 위치 조정을 위한 상대적 위치 설정 */
  margin: 20px auto;
}

button:hover {
  background-color: #0056b3;
}
